aiml
bandit
click
colorlog
docker-compose
docker-py
fastapi
geoip2
google
httpie
ijson
nltk
pandas
parameterized
parse
psycopg2
pyquery
pytest
pytest-cov
pytest-instafail
pytest-picked
pytest-sugar
pytest-tldr
python-dateutil
python-whois
pywebcopy
requests
sklearn
tabulate
uvicorn
w3lib
wikipedia
